
@{
    ViewBag.Title = "Autor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container text-center">
    <h2>Jovan Somborski</h2>
    <img src="~/Content/Images/autor.jpg" width="350px" height="300px" />
    <p><p class="em2 m">
        I am young developer, student on ICT College, located in Belgrade.
        <br>
        In this site, I have used languages: C#(ASP.net), Entity data framework, HTML5, CSS3,JavaScript (JQUERY).
        <br>
        After Log In, Admin have CRUD option for categories, view on all posts and options to delete them, olso contact message system.
        <br>
        Contact:
        jovan.somborski28<i class="fa fa-envelope-o" aria-hidden="true"></i>gmail.com
        <br>
        Portfolio: <a href="http://jovansomborski.com">www.jovansomborski.com </a>
        <br>
        I do not own any pictures used on this site and my goal is not profitable.
        <br>
        The site is specifically designed for the subject of Web programming ASP!
    </p></p>

</div>